.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
Coding exercises/Week1/.ipynb_checkpoints/
Coding exercises/Week 2/.ipynb_checkpoints/
Coding exercises/extra/.ipynb_checkpoints/Week1_exercises-checkpoint.ipynb
Coding exercises/Week 2/
Coding exercises/Week 1/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Coding exercises/extra/
